.itemRocket {
    height: 400px;
    width: 600px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #BFBFBF;
    background-color: white;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}